[submodule "SoulsIds"]
	path = SoulsIds
	url = git@github.com:thefifthmatt/SoulsIds.git
[submodule "yet-another-tab-control"]
	path = yet-another-tab-control
	url = git@github.com:thefifthmatt/yet-another-tab-control.git
